<div class="divTable def-table">
  <div class="divTableHeading">
    <div class="divTableRow">
      <div class="divTableHead">DEB</div>
      <div class="divTableHead">RPM</div>
      <div class="divTableHead">TAR</div>
    </div>
  </div>
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell">
        <%- if @debPkgDir.length == 0 %>
          Nothing packages
        <%- end %>
        <%- @debPkgDir.each do |file| %>
          <%- _file = file.split("/").last %>
        <%= form_for(:server, url: '/pkg/deb/delete') do |_form| %>
          <%= link_to _file,  "/download/pkg/deb/" + _file, {class: "package-link"} %>
          <%= _form.button :Delete, name: "Delete", class: "btn btn-primary" , value: _file%>
        <% end %>
          <%=%>
        </a>
        <BR>
      <%- end %></div>
    <div class="divTableCell">
      <%- if @rpmPkgDir.length == 0 %>
        Nothing packages
      <%- end %>
      <%- @rpmPkgDir.each do |file| %>
        <%- _file = file.split("/").last %>
        <%= form_for(:server, url: '/pkg/rpm/delete') do |_form| %>
        <%= link_to _file, "/download/pkg/rpm/" + _file, {class: "package-link"} %>
          <%= _form.button :Delete, name: "Delete", class: "btn btn-primary" , value: _file%>
        <% end %>
        <BR>
      <%- end %></div>
    <div class="divTableCell">
      <%- if @tarPkgDir.length == 0 %>
        Nothing packages
      <%- end %>
      <%- @tarPkgDir.each do |file| %>
        <%- _file = file.split("/").last %>
        <%= form_for(:server, url: '/pkg/tar/delete') do |_form| %>
          <%= link_to _file, "/download/pkg/tar/" + _file, {class: "package-link"} %>
          <%= _form.button :Delete, name: "Delete", class: "btn btn-primary" , value: _file%>
        <% end %>
        <BR>
      <%- end %></div>
  </div>
</div>
